.tag {
	display: inline-block;

	box-sizing: border-box;

	text-align: center;

	border-radius: 20px;
}

.m {
	padding: 5px 10px;

	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
}

.s {
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}

.ghost {
	border: 1px solid #EBEBEB;
	background: none;
}

.red {
	color: var(--white);
	background: #DE0000;
}

.green {
	color: var(--green);
	background: var(--green-light);
}

.gray {
	color: var(--white);
	background: #B3C0D9;
}

.primary {
	color: var(--primary);
	border: 1px solid var(--primary);
	background: none;
}
